*{
    font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar{
    width: 0;
}
::-webkit-scrollbar-track{
    display: none;
}
::-webkit-scrollbar-thumb{
    display: none;
}

.category{
    min-width: 56px;
}
.nav{
    padding: 0 28px;
}
.swiper {
  width: 329px;
  height: 104px;
}