*{
    font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar{
    width: 0;
}
::-webkit-scrollbar-track{
    display: none;
}
::-webkit-scrollbar-thumb{
    display: none;
}

.category{
    min-width: 56px;
}